
//- 
//- 
//- 
//- ///////////////////////////////////////// COMMONS
mixin log(msg)
	script. 
		console.log('LOG >', !{JSON.stringify(msg)})



//- LINKS
mixin link(o)
	ul.links(class= o.cl || "")
		li(style='display: inline;')
			a.gowhite.bt.btn-border-slider-white.round.left.dkt.whiteBG(href=o.url)= t(o.prename || 'view')
		li(style='display: inline;')
			a.goblack.bt.btn-border-slider-black.round.right.dktBG(href=o.url)= t(o.name || 'more')


//- BACK BUTTON
mixin back(obj)
	+link({prename:t('back_to'), name:t('main'), cl:"dkt greyhover", url:obj.link})
	//- .linker.marXXXLg.round.both.dkt.dktBG.inlineblock
		a.block.sizeSm.font-inc.white.padXXLg.VpadSm(href=obj.link)= t('back_to', obj)



//- ///////////////////////////////////////// CUSTOM BLOCKS

//- ///////////////////////////////////////////// HOME

//- ///////////////////// PURECHAIN
mixin signuphome(obj)
	form#signup(action="#")
		.floatL 
			input.text.block.VpadXXSm.LpadSm.outlinenone.blackBD.bottomBD.round.both.purecolor(placeholder="your@email.com", type="text", style="width:250px")
		.floatN.white
			input.submit.block.Hpad.VpadXXSm.blackBG.thin.round.both.pointer(type="submit", value="Go    >")








//- 
//- 
//- 
//- ///////////////////////////////////////// HOME SLIDESHOWS

//-  MAIN SLIDESHOW
mixin slideshow()
	.slideshow.module-parallax.module-fade.module-full-height.fullH.rel
		if(section.name == 'home')
			.abs.bottom0.left0.fullW
				+transition_intro
		- if(!!target_sections && target_sections.length){
			ul.slides
				each child_section in target_sections
					+slide(child_section, target_sections.indexOf(child_section))

			ol.flex-control-nav.flex-control-paging(style="margin-bottom:5vh")
				each child_section in target_sections
					li
						a= target_sections.indexOf(child_section) + 1
		- }


//- MAIN SLIDESHOW SLIDES
mixin slide(child_section, i)

	- var name = child_section.name ;
	- var cleanname = child_section.cleanname ;
	- var surname = child_section.surname ;
	- var cleanlink = child_section.cleanlink ;

	- var post = child_section.post ;
	- var mediablock = getComponentByName(child_section.post.bracket, 'media_main') 
	- var medias = mediablock.media ;
	- var media = section.name == 'home' ? medias[0].url : ((1 in medias) ? medias[1].url : medias[0].url) ;

	li.bg-dark.noselect(unselectable="on" style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
		.slidebg.slide-zoom.lazy(lazy=CDN + media, style='opacity:.3;')

		- if(name == 'home'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.center.plouf.txtC
					.centercont.marginAuto(style="width:270px")
						a.block.cover.biglogo.txtC(href="#")
							span.hidden= cleanname
						a.block.uppercase.montserrat.white(href="#", style='margin-top: -20px; margin-left: 4px; font-size:15.2px;')= surname

					ul.links.dkt.context.TmarXXXXLg.sizeXLg.noBd
						li(style='display: inline;')
							a.sizeXXXXLg.white.rhdp(href="#")= t('DKT__globals.company.accroche_1') + " " + t('DKT__globals.company.accroche_2')

		- }else if(name == 'techs'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.left.vmiddle
					.hs-title-size-3.font-alt.m-b-20.context.rhdp
						span.whiteBG.block.floatL.padSm.VpadXSm.round.both.dkt.uppercase= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.Vmar.white
						span= surname

					+link({name:t("tech",  {count: 0}), cl:"dkt noBd", url:cleanlink})

		- }else if(name == 'products'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.right.vmiddle
					.hs-title-size-3.font-alt.m-b-20.white.rhdp
						span= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.BmarXLg
						span= surname

					+link({name:t("product",  {count: 0}), cl:"dkt noBd", url:cleanlink})

		- }else if(name == 'about'){
			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.left.vmiddle
					.hs-title-size-3.font-alt.m-b-20.white.rhdp
						span= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.BmarXLg
						span= surname

					+link({name:t("company"), cl:"dkt noBd", url:cleanlink})
		- }else{
			- var even = i % 2 == 0 ;
			- var cl = even ? 'left' : 'right' ;
			- cl = section.name == 'home' ? cl + ' noproduct' : cl ;
			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content(class=cl)
					.hs-title-size-3.font-alt.m-b-20.white.rhdp
						span= cleanname
					.hs-title-size-1.font-inc.BmarXLg
						span= surname

					+link({name:"product", cl:"dkt noBd", url:cleanlink})
		- }


//- ///////////////////////////////////////// OTHER CUSTOM BLOCKS

//- 
//- //////////////// HOME




mixin dktlogosmall
	.endlogo.inlineblock(style="background-position:-120px -50px;")
		span.hidden= t('~')

//- //////////////// SINGLE PRODUCT



//- //////////////// ALL ARTICLES


mixin article(art, p)
	- p.component = art ;
	- var test = rfs(art.page.jade, art.page.path, p) ;
	- var p2 = merge(p, test) ;

	- var basejade = '' ;
	- var orijade = test.jade ;
	//- can be an array
	//- can be an object

	if(typeof orijade == 'string')
		- basejade = orijade ;
	else
		each jblock, jblockname in orijade
			- basejade += jblock ;
			//- script.
				console.log(!{JSON.stringify(jblockname)})
				console.log(!{JSON.stringify(jblock)})
	
	- var template = art.template ;
	- if(!!template) {
		- basejade = template.jade + basejade ;
	- }

	//- script.
	//- 	console.log(!{JSON.stringify(basejade)})
	| !{ render(basejade, p2)}
	
//- //////////////// CONTACTS



//- ERROR PAGE
				
mixin error404
	.extra.err404.rel.context(id="block_404", class= "block_404")
		.anthraxBG.context
			| Error
			.container.pad0.rel.round.both.ivoryBG.context(style="margin-top:3em;margin-bottom:10em;")
				.info404.sizeSm(style="padding:3em 0")
					+innerheader(section.name, t('errors.404.title'), 'dkt lh1', 'dark')
				hr
				.line
					.txtC.marXXXXLg.padXSm
						h2.sizeXLg.dkt= t('errors.404.not_found_01')
						.TmarLg
							:marked !{md(t('errors.404.not_found_02', locals))}
							
				hr
				.aboutgo(style="padding:3em 0 3em")
					- var o = {link : "#/"+ lang + '/home/', target:'$t(~)' }
					+back(o)

