

include ./svgs

//- 
//- 
//- 
//- ///////////////////////////////////////// COMMONS
mixin log(msg)
	script. 
		console.log('LOG >', !{JSON.stringify(msg)})



//- LINKS
mixin link(o)
	ul.links(class= o.cl || "")
		li(style='display: inline;')
			a.gowhite.bt.btn-border-slider-white.round.left.dkt.whiteBG(href=o.url)= t(o.prename || 'view')
		li(style='display: inline;')
			a.goblack.bt.btn-border-slider-black.round.right.dktBG(href=o.url)= t(o.name || 'more')


//- BACK BUTTON
mixin back(obj)
	+link({prename:t('back_to'), name:t('main'), cl:"dkt greyhover", url:obj.link})
	//- .linker.marXXXLg.round.both.dkt.dktBG.inlineblock
		a.block.sizeSm.font-inc.white.padXXLg.VpadSm(href=obj.link)= t('back_to', obj)



//- ///////////////////////////////////////// CUSTOM BLOCKS

//- ///////////////////////////////////////////// HOME

//- ///////////////////////////////////////////// WALLET
mixin getit(id)
	a.block(href= (id == "google") ? "#" : "")
		+getit_SVG(id)

mixin getitboth()
	.flex.flex-row.flex-wrap.gap-y-4.gap-x-8(class="lg:flex:nowrap")
		.flex-none
			+getit("google")
		.flex-none
			+getit("apple")


mixin explaintoggle(text, type)
	case type
		when 1
			.flex.flex-row.group.shadow.rounded-2xl.items-center.cursor-pointer.w-full.justify-between.purelightestblueBG( class='md:mb-4 2xl:mb-[26px] md:rounded-lg 2xl:rounded-2xl md:pl-5 2xl:pl-5 md:pr-4 2xl:pr-4 md:py-3 2xl:py-4 md:w-[21rem] 2xl:w-[388px]')
				span.text-tiny.nav-title.text-main-blue.font-bold( class='group-hover:text-main-blue leading-[130%] lg:text-sm 2xl:text-base')
					!= text
				svg.h-full.w-full.h-4.w-4( aria-hidden='true' focusable='false' data-prefix='fab' data-icon='discord' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='group-hover:text-main-blue md:h-3 md:w-3')
		default
			.flex.flex-row.group.shadow.rounded-2xl.items-center.cursor-pointer.w-full.justify-between.bg-transparent.border-transparent( class='md:mb-4 2xl:mb-[26px] md:rounded-lg 2xl:rounded-2xl md:pl-5 2xl:pl-5 md:pr-4 2xl:pr-4 md:py-3 2xl:py-4 md:w-[21rem] 2xl:w-[388px]')
				span.text-tiny.nav-title.text-tcolor-1.font-medium( class='group-hover:text-main-blue leading-[130%] lg:text-sm 2xl:text-base')
					!= text



//- ///////////////////// PURECHAIN
mixin signuphome(obj)
	form#signup(action="#")
		.floatL 
			input.block.VpadXXSm.LpadSm.outlinenone.blackBD.bottomBD.round.both.purecolor(placeholder="your@email.com", type="text", style="width:250px")
		.floatN.white
			input.block.Hpad.VpadXXSm.blackBG.thin.round.both.pointer(type="submit", value="Go    >")


mixin arrowdiagonalup()
	svg(width='100%' height='100%' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M1.55542 10.4441L10.2285 1.76892' stroke='currentColor' stroke-width='2' stroke-miterlimit='10')
		path(d='M3.27246 1.55542L10.444 1.55542V8.72874' stroke='currentColor' stroke-width='2' stroke-miterlimit='10')


mixin normalbutton(text, target)
	a.flex.flex-row.rounded-3xl.p-6.items-center.cursor-pointer.gap-x-4.white.pureblueBG(href='#' target= target || '_self' class='2xl:p-10 2xl:gap-x-6 md:clickable')
		.flex.white(class='w-6 h-6 md:w-6 md:h-6 lg:w-7 lg:h-7 xl:w-8 xl:h-8 2xl:w-9 2xl:h-9')
				svg.w-full.h-full(viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M8.5 11L14.75 16L8.5 21' stroke='currentColor' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
					path(d='M17.25 21H23.5' stroke='currentColor' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
					path(d='M29.6719 1H2.32812C1.59462 1 1 1.71355 1 2.59375V29.4062C1 30.2865 1.59462 31 2.32812 31H29.6719C30.4054 31 31 30.2865 31 29.4062V2.59375C31 1.71355 30.4054 1 29.6719 1Z' stroke='currentColor' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
		span.flex-none.font-medium.text-inherit.text-start(class='md:text-tiny 4md:text-base lg:text-lg xl:text-lg 2xl:text-xl')
			!= text
		button.flex.justify-center.items-center.p-2.gradient-0.rounded-full(class='2xl:p-6 w-10 h-10 2xl:h-8 2xl:w-8')
			+arrowdiagonalup()


mixin darkbutton(text)
	a.flex.flex-row.rounded-3xl.p-6.items-center.cursor-pointer.gap-x-4.w-full.white.darkBG(href='#' target='_blank' class='2xl:p-10 2xl:gap-x-6 md:clickable')
		.flex.white(class='w-6 h-6 md:w-6 md:h-6 lg:w-7 lg:h-7 xl:w-8 xl:h-8 2xl:w-9 2xl:h-9')
				svg.w-full.h-full(viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M8.5 11L14.75 16L8.5 21' stroke='currentColor' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
					path(d='M17.25 21H23.5' stroke='currentColor' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
					path(d='M29.6719 1H2.32812C1.59462 1 1 1.71355 1 2.59375V29.4062C1 30.2865 1.59462 31 2.32812 31H29.6719C30.4054 31 31 30.2865 31 29.4062V2.59375C31 1.71355 30.4054 1 29.6719 1Z' stroke='currentColor' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
		span.flex-grow.font-medium.text-inherit.text-start(class='md:text-tiny 4md:text-base lg:text-lg xl:text-lg 2xl:text-xl')
			!= text
		button.flex.justify-center.items-center.p-2.gradient-0.rounded-full(class='2xl:p-6 w-10 h-10 2xl:h-8 2xl:w-8')
			+arrowdiagonalup()

mixin lightbutton(text)
	a.flex.flex-row.shadow.rounded-3xl.p-6.items-center.cursor-pointer.gap-x-4.w-full.black.purelightestblueBG(href='#' target='_blank' class='2xl:p-10 2xl:gap-x-6 md:clickable')
		.flex(class='w-6 h-6 md:w-6 md:h-6 lg:w-7 lg:h-7 xl:w-8 xl:h-8 2xl:w-9 2xl:h-9')
			svg.w-full.h-full(viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M3.07031 23.6637C1.2035 20.5141 0.550508 16.7914 1.23393 13.1944C1.91736 9.59749 3.8902 6.3737 6.78209 4.12827C9.67398 1.88283 13.286 0.77017 16.9401 0.999173C20.5943 1.22818 24.0391 2.78309 26.628 5.37201C29.217 7.96093 30.7719 11.4058 31.0009 15.0599C31.2299 18.714 30.1172 22.3261 27.8718 25.218C25.6264 28.1099 22.4026 30.0827 18.8056 30.7661C15.2087 31.4496 11.486 30.7966 8.3364 28.9297L3.13301 30.403C2.91982 30.4653 2.69379 30.4692 2.4786 30.4142C2.26341 30.3591 2.06699 30.2472 1.90993 30.0901C1.75287 29.9331 1.64095 29.7367 1.5859 29.5215C1.53086 29.3063 1.53471 29.0802 1.59706 28.8671L3.07031 23.6637Z' stroke='currentColor' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
				path(d='M15.9999 17.8788C17.0375 17.8788 17.8787 17.0376 17.8787 16C17.8787 14.9624 17.0375 14.1212 15.9999 14.1212C14.9623 14.1212 14.1211 14.9624 14.1211 16C14.1211 17.0376 14.9623 17.8788 15.9999 17.8788Z' fill='currentColor')
				path(d='M8.48474 17.8788C9.52237 17.8788 10.3635 17.0376 10.3635 16C10.3635 14.9624 9.52237 14.1212 8.48474 14.1212C7.44712 14.1212 6.60596 14.9624 6.60596 16C6.60596 17.0376 7.44712 17.8788 8.48474 17.8788Z' fill='currentColor')
				path(d='M23.515 17.8788C24.5526 17.8788 25.3938 17.0376 25.3938 16C25.3938 14.9624 24.5526 14.1212 23.515 14.1212C22.4774 14.1212 21.6362 14.9624 21.6362 16C21.6362 17.0376 22.4774 17.8788 23.515 17.8788Z' fill='currentColor')
		span.flex-grow.font-medium.text-inherit.text-start(class='md:text-tiny 4md:text-base lg:text-lg xl:text-lg 2xl:text-xl')
			!= text
		button.flex.justify-center.items-center.p-2.gradient-0.rounded-full(class='2xl:p-6 w-10 h-10 2xl:h-8 2xl:w-8')
			+arrowdiagonalup()









//- 
//- 
//- 
//- ///////////////////////////////////////// HOME SLIDESHOWS

//-  MAIN SLIDESHOW
mixin slideshow()
	.slideshow.module-parallax.module-fade.module-full-height.fullH.rel
		if(section.name == 'home')
			.abs.bottom0.left0.fullW
				+transition_intro
		- if(!!target_sections && target_sections.length){
			ul.slides
				each child_section in target_sections
					+slide(child_section, target_sections.indexOf(child_section))

			ol.flex-control-nav.flex-control-paging(style="margin-bottom:5vh")
				each child_section in target_sections
					li
						a= target_sections.indexOf(child_section) + 1
		- }


//- MAIN SLIDESHOW SLIDES
mixin slide(child_section, i)

	- var name = child_section.name ;
	- var cleanname = child_section.cleanname ;
	- var surname = child_section.surname ;
	- var cleanlink = child_section.cleanlink ;

	- var post = child_section.post ;
	- var mediablock = getComponentByName(child_section.post.bracket, 'media_main') 
	- var medias = mediablock.media ;
	- var media = section.name == 'home' ? medias[0].url : ((1 in medias) ? medias[1].url : medias[0].url) ;

	li.bg-dark.noselect(unselectable="on" style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
		.slidebg.slide-zoom.lazy(lazy=CDN + media, style='opacity:.3;')

		- if(name == 'home'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.center.plouf.txtC
					.centercont.marginAuto(style="width:270px")
						a.block.cover.biglogo.txtC(href="#")
							span.hidden= cleanname
						a.block.uppercase.montserrat.white(href="#", style='margin-top: -20px; margin-left: 4px; font-size:15.2px;')= surname

					ul.links.dkt.context.TmarXXXXLg.sizeXLg.noBd
						li(style='display: inline;')
							a.sizeXXXXLg.white.rhdp(href="#")= t('DKT__globals.company.accroche_1') + " " + t('DKT__globals.company.accroche_2')

		- }else if(name == 'techs'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.left.vmiddle
					.hs-title-size-3.font-alt.m-b-20.context.rhdp
						span.whiteBG.block.floatL.padSm.VpadXSm.round.both.dkt.uppercase= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.Vmar.white
						span= surname

					+link({name:t("tech",  {count: 0}), cl:"dkt noBd", url:cleanlink})

		- }else if(name == 'products'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.right.vmiddle
					.hs-title-size-3.font-alt.m-b-20.white.rhdp
						span= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.BmarXLg
						span= surname

					+link({name:t("product",  {count: 0}), cl:"dkt noBd", url:cleanlink})

		- }else if(name == 'about'){
			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.left.vmiddle
					.hs-title-size-3.font-alt.m-b-20.white.rhdp
						span= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.BmarXLg
						span= surname

					+link({name:t("company"), cl:"dkt noBd", url:cleanlink})
		- }else{
			- var even = i % 2 == 0 ;
			- var cl = even ? 'left' : 'right' ;
			- cl = section.name == 'home' ? cl + ' noproduct' : cl ;
			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content(class=cl)
					.hs-title-size-3.font-alt.m-b-20.white.rhdp
						span= cleanname
					.hs-title-size-1.font-inc.BmarXLg
						span= surname

					+link({name:"product", cl:"dkt noBd", url:cleanlink})
		- }


//- ///////////////////////////////////////// OTHER CUSTOM BLOCKS

//- 
//- //////////////// HOME




mixin dktlogosmall
	.endlogo.inlineblock(style="background-position:-120px -50px;")
		span.hidden= t('~')

//- //////////////// SINGLE PRODUCT



//- //////////////// ALL ARTICLES


mixin article(art, p)
	- p.component = art ;
	- var test = rfs(art.page.jade, art.page.path, p) ;
	- var p2 = merge(p, test) ;

	- var basejade = '' ;
	- var orijade = test.jade ;
	//- can be an array
	//- can be an object

	if(typeof orijade == 'string')
		- basejade = orijade ;
	else
		each jblock, jblockname in orijade
			- basejade += jblock ;
			//- script.
				console.log(!{JSON.stringify(jblockname)})
				console.log(!{JSON.stringify(jblock)})
	
	- var template = art.template ;
	- if(!!template) {
		- basejade = template.jade + basejade ;
	- }

	//- script.
	//- 	console.log(!{JSON.stringify(basejade)})
	| !{ render(basejade, p2)}
	
//- //////////////// CONTACTS



//- ERROR PAGE
				
mixin error404
	.extra.err404.rel.context(id="block_404", class= "block_404")
		.anthraxBG.context
			| Error
			.container.pad0.rel.round.both.ivoryBG.context(style="margin-top:3em;margin-bottom:10em;")
				.info404.sizeSm(style="padding:3em 0")
					+innerheader(section.name, t('errors.404.title'), 'dkt lh1', 'dark')
				hr
				.line
					.txtC.marXXXXLg.padXSm
						h2.sizeXLg.dkt= t('errors.404.not_found_01')
						.TmarLg
							:marked !{md(t('errors.404.not_found_02', locals))}
							
				hr
				.aboutgo(style="padding:3em 0 3em")
					- var o = {link : "#/"+ lang + '/home/', target:'$t(~)' }
					+back(o)

